In [1]:
        
import os
import glob
import pandas as pd
os.chdir("/data2/Common/jbackes/oil")

In [3]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [5]:
print(all_filenames)

['month_1.csv', 'month_12.csv', 'month_11.csv', 'month_10.csv', 'month_9.csv', 'month_8.csv', 'month_7.csv', 'month_6.csv', 'month_5.csv', 'month_4.csv', 'month_3.csv', 'month_2.csv']

In [6]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv

In [7]:
combined_csv.head()

,SLS_TRAN_LOC_ID,SLS_TRAN_ID,SLS_TRAN_INVOICE_DT,SLS_TRAN_INVOICE_NUM,SLS_TRAN_START_DTTM,SLS_TRAN_INVOICE_DTTM,SLS_TRAN_JOB_LN_ART_HR_QTY,SLS_TRAN_JOB_LN_ART_NUM,SLS_TRAN_JOB_LN_ART_DESC,SLS_TRAN_JOB_LN_ART_QTY,...,CLASS_NUM,CLASS_DESC,LINE_CODE,LINE_NUM,LINE_DESC,FLAG,FLAG2,DOUBLE,oil,oil2
0,27,2640391,03JAN2019,173729,11NOV2018:11:45:31,03JAN2019:19:18:06,0.0,7098051,DISCOUNT REMOVE & REPLACE HEADLAMP (HID) IGNIT...,-1,...,P990,Employee Discounts Services,510,3961,Employee Discount Labor,2,2,NaN,NaN,7010917
1,27,2640391,03JAN2019,173729,11NOV2018:11:45:31,03JAN2019:19:18:06,0.0,7078506,LIGHTING BALLAST,1,...,P940,Headlamps,487,3860,Headlamp Parts,2,2,NaN,NaN,7010917
2,27,2640391,03JAN2019,173729,11NOV2018:11:45:31,03JAN2019:19:18:06,0.1,7046930,COURTESY CHECK,1,...,P890,Courtesy Check,474,3760,Courtesy Check Labor,2,2,NaN,NaN,7010917
3,27,2640391,03JAN2019,173729,11NOV2018:11:45:31,03JAN2019:19:18:06,0.0,7014629,OIL FILTER,1,...,P650,Oil Change,391,3281,Oil Filter,1,1,NaN,NaN,7010917
4,27,2640391,03JAN2019,173729,11NOV2018:11:45:31,03JAN2019:19:18:06,0.7,7003348,REMOVE & REPLACE HEADLAMP (HID) IGNITOR - RIGH...,1,...,P980,Other Non-System Services,507,3944,Misc. Non-System Labor,2,2,NaN,NaN,7010917

In [8]:
combined_csv.to_csv( "/data2/Common/jbackes/oil/Oil_All.csv", index=False, encoding='utf-8-sig')